<div class="card-div">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Batuhan Ipci</mat-card-title>
      <mat-card-subtitle>Developer </mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="../../assets/images/me.jpeg"
      alt="Photo of the developer"
    />
    <mat-card-content>
      <p>
        A versatile web developer with a remarkable ability to work under
        pressure. Combining his tremendous desire for learning new technologies
        and tools allows Batuhan to deliver top-quality real-world projects.
      </p>
    </mat-card-content>
  </mat-card>
</div>
