// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$background-color: rgb(36, 39, 41);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$batufy-primary: mat.define-palette(mat.$grey-palette, 900);
$batufy-accent: mat.define-palette(mat.$green-palette, A700);

// The warn palette is optional (defaults to red).
$batufy-warn: mat.define-palette(mat.$red-palette);

$batufy-theme: mat.define-dark-theme(
  $batufy-primary,
  $batufy-accent,
  $batufy-warn
);

$batufy-background: map-get($batufy-theme, "background");
$batufy-background: map-merge(
  $batufy-background,
  (
    "background": $background-color,
  )
);
$batufy-theme: map-merge(
  $batufy-theme,
  (
    "background": $batufy-background,
  )
);

@include mat.all-component-themes($batufy-theme);

body {
  background-color: rgb(36, 39, 41);
}
