@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.mat-list-item,
.mat-menu-item {
  font-size: 14px !important;
}

.album-cover:hover {
  cursor: pointer;
}

mat-chip:hover {
  cursor: pointer;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.navbar {
  z-index: 2;
}

.navbar-brand {
  text-decoration: none;
  color: white;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Set sidenav width*/

mat-sidenav {
  min-width: 180px !important;
  border-right: 1px solid #eee;
  box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
}

#push-bottom {
  position: absolute;
  bottom: 0;
}

.mat-toolbar {
  min-height: 64px;
}

.sidenav-content {
  padding: 40px;
}

.bottom-spacer {
  height: 80px;
}
.artist-search-field mat-label {
  color: #fff;
}
@media only screen and (max-width: 600px) {
  mat-sidenav {
    position: fixed !important;
  }

  mat-sidenav-content {
    margin-left: 0px !important;
  }

  .sidenav-content {
    padding: 20px;
  }

  .bottom-spacer {
    height: 40px;
  }
}

.mat-drawer-container {
  overflow: auto !important;
  height: 100%;
}

.mat-drawer-content {
  height: auto !important;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: normal !important;
}

.mat-sidenav-content .mat-list-item {
  height: auto !important;
}

.audio-card {
  width: 100%;
  margin: 0 20px;
}
.fav-button {
  margin: 0 20px;
}

.fav-button:hover,
.fav-button:focus {
  box-shadow: 1px 1px 1px 1px #00e676;
  transform: translateY(-0.25em);
  transition: ease-in-out 0.25s;
}
.card-box .card {
  min-width: 200px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.371);
  border: none;
}
.card-box mat-card {
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
  pointer-events: all;
  overflow: hidden;
  border-radius: 15px;
}

.card-box mat-card img {
  transition: transform 1s;
}

.card-box mat-card img:hover {
  transform: scale(1.02);
}
